#home
    #announcements
        text-align:      center
    #featured
        +column(24, true)
        margin-bottom: 12px
        padding-left: 10px
        #featured-image
            +column(11)
        #featured-content
            +column(12, true) 
