body
    background-color:  #333
    margin-top: 0
    #wrapper
        +container
        #header
            h1
                margin: 0
        .hidden
            display: none
    a
        +hover-link
