body
    :background #000000
    h1
        :text-align center
    h2
        :text-align center

.container
    :background white
    :padding 8px

#header
    :height 120px
    #login-bar
        :text-align right
        :height 35px
    #search-form
        :text-align center