#project-list
    .project-index-block
        border: solid 1px black
        background-color: #DDDDDD
        margin-top: 10px
        .project-top
            background-color: #CCCCCC
            border-bottom: solid 1px black
            +pad
            +clearfix
            .title
                float: left
                font-size: 1.5em
            .stats
                float: right
                text-align: right
        .project-bottom
            +pad