/* line 1, ../../app/stylesheets/formtastic.sass */
form.formtastic {
  margin: 0;
  padding: 0;
}
/* line 5, ../../app/stylesheets/formtastic.sass */
form.formtastic ul, form.formtastic ol, form.formtastic li, form.formtastic fieldset, form.formtastic legend, form.formtastic input, form.formtastic textarea, form.formtastic select, form.formtastic p {
  margin: 0;
  padding: 0;
}
/* line 9, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset {
  border: 0;
}
/* line 12, ../../app/stylesheets/formtastic.sass */
form.formtastic em, form.formtastic strong {
  font-style: normal;
  font-weight: normal;
}
/* line 16, ../../app/stylesheets/formtastic.sass */
form.formtastic ol, form.formtastic ul {
  list-style: none;
}
/* line 19, ../../app/stylesheets/formtastic.sass */
form.formtastic abbr, form.formtastic acronym {
  border: 0;
  font-variant: normal;
}
/* line 23, ../../app/stylesheets/formtastic.sass */
form.formtastic input, form.formtastic textarea, form.formtastic select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
/* line 28, ../../app/stylesheets/formtastic.sass */
form.formtastic input, form.formtastic textarea, form.formtastic select {
  font-size: 100%;
}
/* line 31, ../../app/stylesheets/formtastic.sass */
form.formtastic legend {
  color: black;
}
/* line 34, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset {
  display: inline-block;
}
/* line 38, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset.buttons {
  padding-left: 25%;
}
/* line 42, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset.buttons li {
  float: left;
  padding-right: 0.5em;
}
/* line 46, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 54, ../../app/stylesheets/formtastic.sass */
html[xmlns] form.formtastic fieldset {
  display: block;
}

/* line 58, ../../app/stylesheets/formtastic.sass */
* html form.formtastic fieldset {
  height: 1%;
}

/* line 62, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset ol li {
  margin-bottom: 1.5em;
  display: inline-block;
}
/* line 66, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset ol li:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 74, ../../app/stylesheets/formtastic.sass */
html[xmlns] form.formtastic fieldset ol li {
  display: block;
}

/* line 78, ../../app/stylesheets/formtastic.sass */
* html form.formtastic fieldset ol li {
  height: 1%;
}

/* line 84, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset ol li label {
  display: block;
  width: 25%;
  float: left;
  padding-top: 0.2em;
}
/* line 90, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset ol li li label {
  line-height: 100%;
  padding-top: 0;
}
/* line 94, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset ol li li label input {
  line-height: 100%;
  vertical-align: middle;
  margin-top: -0.1em;
}
/* line 99, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset ol li fieldset {
  position: relative;
}
/* line 102, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset ol li fieldset legend {
  position: absolute;
  width: 25%;
  padding-top: 0.1em;
}
/* line 107, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset ol li fieldset legend span, form.formtastic fieldset ol li fieldset legend.label label {
  position: absolute;
}
/* line 110, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset ol li fieldset ol {
  float: left;
  width: 74%;
  margin: 0;
  padding: 0 0 0 25%;
}
/* line 116, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset ol li fieldset ol li {
  padding: 0;
  border: 0;
}
/* line 121, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset ol li p.inline-hints {
  color: #666666;
  margin: 0.5em 0 0 25%;
}
/* line 125, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset ol li p.inline-errors {
  color: #cc0000;
  margin: 0.5em 0 0 25%;
}
/* line 129, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset ol li ul.errors {
  color: #cc0000;
  margin: 0.5em 0 0 25%;
  list-style: square;
}
/* line 134, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset ol li ul.errors li {
  padding: 0;
  border: none;
  display: list-item;
}
/* line 139, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset ol li.string input, form.formtastic fieldset ol li.password input, form.formtastic fieldset ol li.numeric input, form.formtastic fieldset ol li.text textarea {
  width: 74%;
}
/* line 142, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset ol li.hidden {
  display: none;
}
/* line 145, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset ol li.boolean label {
  padding-left: 25%;
  width: auto;
}
/* line 149, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset ol li.boolean label input {
  margin: 0 0.5em 0 0.2em;
}
/* line 152, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset ol li.radio fieldset ol, form.formtastic fieldset ol li.check_boxes fieldset ol {
  margin-bottom: -0.6em;
}
/* line 155, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset ol li.radio fieldset ol li, form.formtastic fieldset ol li.check_boxes fieldset ol li {
  margin: 0.1em 0 0.5em 0;
}
/* line 158, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset ol li.radio fieldset ol li label, form.formtastic fieldset ol li.check_boxes fieldset ol li label {
  float: none;
  width: 100%;
}
/* line 162, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset ol li.radio fieldset ol li label input, form.formtastic fieldset ol li.check_boxes fieldset ol li label input {
  margin-right: 0.2em;
}
/* line 165, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset ol li.date fieldset ol li, form.formtastic fieldset ol li.time fieldset ol li, form.formtastic fieldset ol li.datetime fieldset ol li {
  float: left;
  width: auto;
  margin: 0 0.3em 0 0;
}
/* line 170, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset ol li.date fieldset ol li label, form.formtastic fieldset ol li.time fieldset ol li label, form.formtastic fieldset ol li.datetime fieldset ol li label {
  display: none;
}
/* line 173, ../../app/stylesheets/formtastic.sass */
form.formtastic fieldset ol li.date fieldset ol li label input, form.formtastic fieldset ol li.time fieldset ol li label input, form.formtastic fieldset ol li.datetime fieldset ol li label input {
  display: inline;
  margin: 0;
  padding: 0;
}
