<form method="get" action="<%= projects_path %>">
  <div class="input-group mb-3">
    <input
      class="form-control form-control-lg"
      type="search"
      name="search[title_like]"
      placeholder="Search Danmaku Projects"
    >
    <button type="submit" class="btn btn-outline-primary">
      <i class="fas fa-search"></i>
      Search
    </button>
  </div>
</form>
