%h1.mb-4.h-3 Edit Project

%section.mb-4
  = render 'form'

- if can?(:destroy, @project)
  %section.mt-4.pt-4
    %h3.text-danger.mb-3
      %i.fas.fa-exclamation-triangle.fa-fw
      Irreversable Action

    .mb-2.card.border-danger
      .card-body.text-danger
        .d-grid.gap-2
          = link_to "Permanently Delete Project", user_project_path(@user, @project), method: :delete, data: {confirm: "Are you sure you want to delete this project?"}, class: 'btn btn-danger'
