<h1><%= @project.title %></h1>
<%= link_to "Edit", edit_project_path(@project) %><br />
<%= link_to "Delete", project_path(@project), :method => :delete, :confirm => "Are you sure?" %>

<p><%= @project.description %></p>
