<div id="archive">
  <% if version.archive %>
    <%= link_to "Download", user_project_version_archive_path(user, project, version) %><br />
    File size: <%= number_to_human_size(version.archive.attachment.size) %><br />
  <% elsif can?(:edit, version) %>
    <h4> Upload your script now! </h4>
    <p>
      File size limit is <%= Archive::MAX_FILE_SIZE %>.<br />
      Accepted file types are .zip, .rar, .7z, and .tar.
    </p>

    <%= swf_upload_area "Attach script", :upload_url => user_project_version_archive_path(user, project, version, :format => :json),
      :file_types => "*.zip; *.rar; *.7z; *.tar",
      :button_style => "font-family: Arial, sans-serif; font-size: 14pt; font-weight:bold;",
      :single_file => true,
      :file_size_limit => Archive::MAX_FILE_SIZE %>

  <% else %>
    The author has not uploaded a script for this version.<br />
    Please check back later.
  <% end %>
</div>