#versions
  %h3
    Versions
  - project.versions.order("created_at DESC").limit(5).each do |version|
    = link_to project.title+' v'+version.version_number, user_project_version_path(user, project, version)
    %br
  = link_to "See all versions", user_project_versions_path(user, project)
