<% unless project.youtube_video_id.blank? %>
  <div id="youtube">
    <object width="425" height="344">
      <param name="movie" value=<%= "http://www.youtube.com/v/" + project.youtube_video_id %>> </param>
      <param name="allowFullScreen" value="true"> </param>
      <param name="allowscriptaccess" value="always"> </param>
      <embed src=<%= "http://www.youtube.com/v/" + project.youtube_video_id %>
             type="application/x-shockwave-flash"
             allowscriptaccess="always"
             allowfullscreen="true"
             width="425"
             height="344">
      </embed>
    </object>
  </div>
<% end %>
