%h1
  Editing Version Details
- semantic_form_for @version, :url => user_project_version_path(@user, @project, @version), :html => {:method => :put} do |form|
  = render :partial => "form", :locals => {:form => form}
