<h1>Creating New Version</h1>

<% form_for @version, :url => user_project_versions_path(@user, @project), :html => { :multipart => true, :method => :post } do |f| %>
<%= error_messages_for :version %>
<%= f.hidden_field :project_id, :value => @project.id %>
<%= f.hidden_field :user_id, :value => @user.id %>
<br />
<%= render :partial => "form", :locals => {:f => f} %>
<% end %>
