.direct-upload {
  display: block;
  position: relative;
  padding: $input-padding-y $input-padding-x;
  margin: $hr-margin-y 0;
  border: $input-border-width solid $input-border-color;
  border-radius: $border-radius;
}

.direct-upload--pending {
  opacity: 0.6;
}

.direct-upload__progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0.2;
  background: $success;
  transition: width 120ms ease-out, opacity 60ms 60ms ease-in;
  transform: translate3d(0, 0, 0);
}

.direct-upload--complete .direct-upload__progress {
  opacity: 0.4;
}

.direct-upload--error {
  border-color: $danger;
}

input[type=file][data-direct-upload-url][disabled] {
  display: none;
}
