<section class="text-center p-3 text-muted" style="font-size: 0.9rem">
  <i class="far fa-copyright fa-fw"></i> 2009 |
    Made with
    <i class="fas fa-heart fa-fw"></i>
    by
    <a href="https://softwareunicorns.com/">Aaron</a>
    and
    <a href="https://www.linkedin.com/in/abnerqian">Abner</a>
</section>
